.menuItem {
  padding: 5px;
  min-height: 0;
  background-color: grey;
  transform-origin: top;
  transition: transform 0.26s ease;
}

div.label {
  display: flex;
  color:maroon;
  align-items: center;
  background-color:orange;
  padding: 5px;
}

div.offset {
  padding-left: 10px;
}

.menuItemContainer {
  border-style: outset;
}

@media screen and (max-width: 700px) {
  .menuItem {
    transform-origin: top;
    transition: transform 0.26s ease;
    justify-content: space-evenly;
  }

  div.label {
    flex-direction: row;
    display: flex;
    color:white;
    align-items: center;
    background-color:black;
    justify-content: space-evenly;
  }

  div.offset {
    padding-left: 10px;
  }

  .menuItemContainer {
    border-style: none;
  }
}
