.sidebar.open {
    max-width: 220px;
}
.sidebar.closed {
  width: 50px;
}

.sidebar {
  background-color:aquamarine;
  margin-top: 10px;
  transition: width .6s;
  transition-timing-function: ease;
}

@media only screen and (max-width: 768px) {
  .sidebar {background-color: blue;}
  .sidebar.closed {
  }
}
