.App{
  display:flex;
  flex-wrap: wrap;
}

.header{
    background: green;
    order: 1;
    flex: 0 0 100%;
}
.header-content{
  display: flex;
  align-items: center;
}
.header div {
  background-color: #482880;
  color: #ffee33;
}


.sidebar {
    background: #81c784;
    order: 2;
    flex: 0;
}

.content-area {
    background: #81c784;
    order: 3;
    flex-grow: 1;
    flex: 50%;
}

@media screen and (max-width: 760px) {
  .header {
      background: green;
      order: 1;

      align-items: center;
      flex: 1 39px;
      flex-grow: 0;
  }
  .sidebar{
    order: 2;
    flex:  1 ;
    flex-direction: row;
    flex-grow:8;
  }
  .content-area {
      order: 3 ;
      flex: 100%;
  }
  .header {
    background-color: #81c784;
    align-items: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .App{
    flex-direction:column;
  }
  .header div {
    background-color: green;
  }
  .header {
    background: green;
  }
  .sidebar.closed {
    background:#482880;
  }
}

@media screen and (max-width: 400px) {
  .header .mood {
    background-color: red;
  }
}

.interactive{
  overflow: hidden;
  transition: all 0.3s ease-out;
  height:auto;
  flex: 1;
  color: white;
  transform: scaleY(1);
  display:flex;
  align-items: center;
}

.exit {
  background-color: blue;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.26s ease;
}
